body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  Background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

button {
  cursor: pointer;
}